.header {
    position: relative;
}

.header__name {
    font-family: Roboto;
    font-size: 26px;
    font-style: normal;
    font-weight: 900;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: capitalize;
    padding: 0;
    padding-top: 45px;
    margin: 0 auto;
}

.header__yellow-background {
    background-color: #FFDC40;
    position: absolute;
    width: 100%;
    height: 28px;
    top: 0;
}

.page-body {
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.page-body__wrapper {
    position: absolute;
    width: 336px;
    min-height: 236px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
}

.filter-icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 7px;
}

.filter-icon__svg {
    padding: 5px;
}

.filter-icon__svg:active {}

.container {
    display: grid;
    justify-content: center;
    grid-template-columns: 286px;
}

.to-do-list {
    position: relative;
    padding-bottom: 20px;
    min-height: 40px;
}

.to-do-list__wrapper {
    position: absolute;
    width: 286px;
    min-height: 40px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
}

.to-do-list__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.to-do-list__item:focus,
.to-do-list__item:active {
    background-color: #FFDC40;
}

.to-do-list__item:hover {
    background-color: #C4C4C4;
}

.to-do-list__dots-icon {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 15px;
}

.to-do-list__cross-icon {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.to-do-list__text-input {
    width: 190px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 10px;
    border: none;
    background-color: transparent;
}

.button-section {
    display: block;
}

.button-section__add-button {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 150px;
    height: 42px;
    margin: 0 auto;
    background: #833AE0;
    border-radius: 71px;
    color: #FFFFFF;
}